<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Whiteboard</display-name>
	<context-param>
		<param-name>parentContextKey</param-name>
		<param-value>default.context</param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>/whiteboard</param-value>
	</context-param>
	
	<listener>
		<listener-class>com.innowhite.red5.whiteboard.Main</listener-class>
	</listener>

	<listener>
    <listener-class>org.red5.logging.ContextLoggingListener</listener-class>
</listener>

<filter>
    <filter-name>LoggerContextFilter</filter-name>
    <filter-class>org.red5.logging.LoggerContextFilter</filter-class>
</filter>

<filter-mapping>
    <filter-name>LoggerContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>


	<filter>
		<filter-name>WBFilter</filter-name>
		<filter-class>
			com.innowhite.whiteboard.Servlet.WBFilter
		</filter-class>
		
	</filter>
	
	<filter-mapping>
		<filter-name>WBFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	
	<!--
		remove the following servlet tags if you want to disable remoting for
		this application
	-->
	
	
	 <servlet>
    <description></description>
    <display-name>CreateRoomServlet</display-name>
    <servlet-name>CreateRoomServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.CreateRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRoomServlet</servlet-name>
    <url-pattern>/CreateRoom</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>StreamServlet</display-name>
    <servlet-name>StreamServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.StreamServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <description></description>
    <display-name>ViewRoomServlet</display-name>
    <servlet-name>ViewRoomServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.ViewRoomServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>ViewRoomServlet</servlet-name>
    <url-pattern>/ViewRoom</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>JoinRoomServlet</display-name>
    <servlet-name>JoinRoomServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.JoinRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinRoomServlet</servlet-name>
    <url-pattern>/JoinRoom</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>RoomStatusServlet</display-name>
    <servlet-name>RoomStatusServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.RoomStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomStatusServlet</servlet-name>
    <url-pattern>/RoomStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomServlet</display-name>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/Rooms</url-pattern>
  </servlet-mapping>
	
	
	<servlet>
		<servlet-name>gateway</servlet-name>
		<servlet-class>org.red5.server.net.servlet.AMFGatewayServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>FileUpload Servlet</description>
		<display-name>W</display-name>
		<servlet-name>uploadFile</servlet-name>
		<servlet-class>com.servlets.UploadFileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>multi images upload</description>
		<servlet-name>UploadImages</servlet-name>
		<servlet-class>com.util.UploadImages</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserImagesList</servlet-name>
		<servlet-class>com.servlets.UserImagesList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveAsImageServlet</servlet-name>
		<servlet-class>com.servlets.SaveAsImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteDocumentServlet</servlet-name>
		<servlet-class>com.servlets.DeleteDocumentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ScreenShotServlet</servlet-name>
		<servlet-class>com.servlets.ScreenShotServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveCurrentWB</servlet-name>
		<servlet-class>com.servlets.SaveCurrentWB</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>TimeServlet</servlet-name>
    <servlet-class>com.servlets.TimeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateSession</servlet-name>
    <servlet-class>com.servlets.CreateSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.servlets.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewPreview</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.ViewPreview</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSession</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.DeleteSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LessonPlanServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.LessonPlanServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LessonDocumentXMLServlet</servlet-name>
    <servlet-class>com.servlets.LessonDocumentXMLServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MediaContent</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.MediaContent</servlet-class>
  </servlet>









	<servlet-mapping>
		<servlet-name>gateway</servlet-name>
		<url-pattern>/gateway</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadFile</servlet-name>
		<url-pattern>/servlet/uploadFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadImages</servlet-name>
		<url-pattern>/servlet/UploadImages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StreamServlet</servlet-name>
		<url-pattern>/servlet/StreamServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserImagesList</servlet-name>
		<url-pattern>/servlet/UserImagesList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveAsImageServlet</servlet-name>
		<url-pattern>/servlet/SaveAsImageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteDocumentServlet</servlet-name>
		<url-pattern>/servlet/DeleteDocumentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScreenShotServlet</servlet-name>
		<url-pattern>/servlet/ScreenShotServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveCurrentWB</servlet-name>
		<url-pattern>/servlet/SaveCurrentWB</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>TimeServlet</servlet-name>
    <url-pattern>/servlet/TimeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateSession</servlet-name>
    <url-pattern>/CreateSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/servlet/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewPreview</servlet-name>
    <url-pattern>/servlet/ViewPreview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSession</servlet-name>
    <url-pattern>/DeleteSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LessonPlanServlet</servlet-name>
    <url-pattern>/servlet/LessonPlanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LessonDocumentXMLServlet</servlet-name>
    <url-pattern>/servlet/LessonDocumentXMLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MediaContent</servlet-name>
    <url-pattern>/servlet/MediaContent</url-pattern>
  </servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Forbidden</web-resource-name>
			<url-pattern>/streams/*</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
