<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <filter>
    <filter-name>WBFilter</filter-name>
    <filter-class>com.innowhite.whiteboard.Servlet.WBFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WBFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CreateRoomServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.CreateRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRoomServlet</servlet-name>
    <url-pattern>/CreateRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StreamServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.StreamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewRoomServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.ViewRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRoomServlet</servlet-name>
    <url-pattern>/ViewRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JoinRoomServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.JoinRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinRoomServlet</servlet-name>
    <url-pattern>/JoinRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomStatusServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.RoomStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomStatusServlet</servlet-name>
    <url-pattern>/RoomStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/Rooms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadFile</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadImages</servlet-name>
    <servlet-class>com.util.UploadImages</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserImagesList</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.UserImagesList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveAsImageServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.SaveAsImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteDocumentServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.DeleteDocumentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScreenShotServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.ScreenShotServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveCurrentWB</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.SaveCurrentWB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TimeServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.TimeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateSession</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.CreateSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewPreview</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.ViewPreview</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSession</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.DeleteSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LessonPlanServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.LessonPlanServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LessonDocumentXMLServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.LessonDocumentXMLServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MediaContent</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.MediaContent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LockRoomServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.LockRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFile</servlet-name>
    <url-pattern>/servlet/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadImages</servlet-name>
    <url-pattern>/servlet/UploadImages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StreamServlet</servlet-name>
    <url-pattern>/servlet/StreamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserImagesList</servlet-name>
    <url-pattern>/servlet/UserImagesList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveAsImageServlet</servlet-name>
    <url-pattern>/servlet/SaveAsImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDocumentServlet</servlet-name>
    <url-pattern>/servlet/DeleteDocumentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScreenShotServlet</servlet-name>
    <url-pattern>/servlet/ScreenShotServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveCurrentWB</servlet-name>
    <url-pattern>/servlet/SaveCurrentWB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TimeServlet</servlet-name>
    <url-pattern>/servlet/TimeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateSession</servlet-name>
    <url-pattern>/CreateSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/servlet/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewPreview</servlet-name>
    <url-pattern>/servlet/ViewPreview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSession</servlet-name>
    <url-pattern>/DeleteSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LessonPlanServlet</servlet-name>
    <url-pattern>/servlet/LessonPlanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LessonDocumentXMLServlet</servlet-name>
    <url-pattern>/servlet/LessonDocumentXMLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MediaContent</servlet-name>
    <url-pattern>/servlet/MediaContent</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Forbidden</web-resource-name>
      <url-pattern>/streams/*</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <mime-mapping>
    <extension>msi</extension>
    <mime-type>application/x-msi</mime-type>
  </mime-mapping>
  <servlet>
    <servlet-name>WBLiveVideo</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.WBLiveVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WBLiveVideo</servlet-name>
    <url-pattern>/servlet/WBLiveVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WBDeployer</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.WBDeployer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WBDeployer</servlet-name>
    <url-pattern>/servlet/WBDeployer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionRecording</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.SessionRecording</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionRecording</servlet-name>
    <url-pattern>/servlet/SessionRecording</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlayBackServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.PlayBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayBackServlet</servlet-name>
    <url-pattern>/PlayBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionDetail</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.SessionDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDetail</servlet-name>
    <url-pattern>/SessionDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LockRoomServlet</servlet-name>
    <url-pattern>/servlet/LockRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StreamVideoServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.StreamVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreamVideoServlet</servlet-name>
    <url-pattern>/StreamVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrgManageServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.OrgManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrgManageServlet</servlet-name>
    <url-pattern>/Organization</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InviteServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.InviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InviteServlet</servlet-name>
    <url-pattern>/servlet/InviteServlet</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>MeetingMinutesServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.MeetingMinutesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingMinutesServlet</servlet-name>
    <url-pattern>/MeetingMinutes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PollingServlet</servlet-name>
    <servlet-class>com.innowhite.whiteboard.Servlet.PollingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PollingServlet</servlet-name>
    <url-pattern>/Polling</url-pattern>
  </servlet-mapping>
  
   <error-page>
	<exception-type>404</exception-type>
	<location>/404.html</location>
   </error-page>
     
</web-app>